body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #202C38;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #376480;
}

#game-window {
  font-family: "Rajdhani", sans-serif;
  font-size: 4rem;
  color: #EDF2F7;
  text-shadow: 0.0725em 0.0725em #202C38;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-size: 16px;
  transition: font-size 0.5s ease;
}
@media screen and (max-height: 1165px), screen and (max-width: 1165px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-height: 905px), screen and (max-width: 905px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-height: 705px), screen and (max-width: 705px) {
  html {
    font-size: 10px;
  }
}

*,
:before,
:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  display: flex;
  background: url("../img/global/dot.png") fixed #202C38;
  width: 100%;
  height: 100%;
  transition: flex-direction 0.5s ease,padding-bottom 0.5s ease;
}
@media screen and (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 0 0 3rem;
  transition: margin 0.5s ease,font-size 0.5s ease;
}
@media screen and (orientation: portrait) {
  h1 {
    margin: 0 0 2rem;
    font-size: 2em;
  }
}

h1:after {
  content: "";
  width: 85%;
  height: 0.15rem;
  background: #B0C3CF;
  border-radius: 1rem;
  display: block;
  margin: auto;
}

.text-button:focus {
  outline: 0;
}

::selection {
  background: #B0C3CF;
}

.window {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (orientation: landscape) {
  .window {
    width: 38.2%;
    height: 100%;
    transition: width 0.5s ease,padding-bottom 0.5s ease;
  }
  .window.expand {
    width: 100%;
    padding-bottom: 6rem;
  }
  .window.expand > section {
    padding: 0;
  }
  .window.expand > .window-overlay {
    right: 0;
    margin-right: 0;
  }
}
@media screen and (orientation: portrait) {
  .window {
    width: 100%;
    height: 38.2%;
    transition: height 0.5s ease,padding-bottom 0.5s ease;
  }
  .window > .window-overlay {
    right: 0;
    margin-right: 0;
  }
  .window.expand {
    height: 100%;
    padding-bottom: 10.5rem;
  }
  .window.expand > section {
    padding: 0;
  }
  .window.expand > section.expand {
    padding: 0;
  }
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  .window.expand {
    padding-bottom: 9.5rem;
  }
}
.window > section {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 3rem;
  transition: padding 0.5s ease,margin-left 0.5s ease,margin-right 0.5s ease;
}
.window > section a,
.window > section a:visited,
.window > section a:active,
.window > section .text-button {
  display: inline-block;
  position: relative;
  color: #F54838;
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.window > section a::after,
.window > section a:visited::after,
.window > section a:active::after,
.window > section .text-button::after {
  content: " ";
  display: block;
  position: absolute;
  margin: auto;
  width: 0;
  left: 50%;
  height: 0.1em;
  background: #B0C3CF;
  border-radius: 0.1em;
  transition: width 0.25s ease, left 0.25s ease;
}
.window > section a:hover::after,
.window > section .text-button:hover::after,
.window > section a:focus::after,
.window > section .text-button:focus::after {
  left: 0;
  width: 100%;
}
.window > section.expand, .window > section.expand-full {
  padding: 0;
}
.window > section > img, .window > section > model-viewer {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
.window > section > model-viewer {
  width: 100%;
  height: 100%;
}
@media screen and (orientation: landscape) {
  .window > section {
    padding-right: 6.75rem;
  }
  .window > section.expand {
    padding-right: 3.75rem;
  }
}
@media screen and (orientation: portrait) {
  .window > section {
    padding-bottom: 6.75rem;
  }
  .window > section.expand {
    padding-bottom: 3.75rem;
  }
}

.main {
  position: relative;
  background: #EDF2F7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 6.75rem;
  transition: margin-top 0.5s ease;
}
.main.shrink {
  margin-top: -6.75rem;
}
@media screen and (orientation: landscape) {
  .main {
    padding-left: 0.45rem;
    border-left: 0.75rem solid #F54838;
    box-shadow: inset 0.5rem 0 0 #202C38;
    transition: padding-left 0.5s ease,border-left 0.5s ease;
  }
  .main.shrink {
    padding-left: 0;
    border-left: 0;
  }
  .main.shrink > .shadow {
    opacity: 0;
  }
}
@media screen and (orientation: portrait) {
  .main {
    padding-top: 0.5rem;
    border-top: 0.75rem solid #F54838;
    box-shadow: inset 0 0.5rem 0 #202C38;
  }
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  .main.shrink {
    margin-top: -5.75rem;
    min-height: 5.75rem;
  }
}

.shadow {
  position: absolute;
  background: #F54838;
}
@media screen and (orientation: landscape) {
  .shadow {
    left: 38.2%;
    width: 0.75rem;
    height: 100%;
    transition: left 0.5s ease,opacity 0.5s ease;
  }
  .shadow.shrink {
    left: 100%;
    opacity: 0;
  }
}
@media screen and (orientation: portrait) {
  .shadow {
    top: 38.2%;
    width: 100%;
    height: 0.75rem;
    transition: top 0.5s ease,opacity 0.5s ease;
  }
  .shadow.shrink {
    top: 100%;
  }
}

.shadow1 {
  opacity: 0.75;
}
@media screen and (orientation: landscape) {
  .shadow1 {
    margin-left: -1.25rem;
  }
}
@media screen and (orientation: portrait) {
  .shadow1 {
    margin-top: -1.25rem;
  }
  .shadow1.shrink {
    margin-top: -8rem;
  }
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  .shadow1.shrink {
    margin-top: -7rem;
  }
}

.shadow2 {
  opacity: 0.5;
}
@media screen and (orientation: landscape) {
  .shadow2 {
    margin-left: -2.5rem;
  }
}
@media screen and (orientation: portrait) {
  .shadow2 {
    margin-top: -2.5rem;
  }
  .shadow2.shrink {
    margin-top: -9.25rem;
  }
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  .shadow2.shrink {
    margin-top: -8.25rem;
  }
}

.shadow3 {
  opacity: 0.25;
}
@media screen and (orientation: landscape) {
  .shadow3 {
    margin-left: -3.75rem;
  }
}
@media screen and (orientation: portrait) {
  .shadow3 {
    margin-top: -3.75rem;
  }
  .shadow3.shrink {
    margin-top: -10.5rem;
  }
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  .shadow3.shrink {
    margin-top: -9.5rem;
  }
}

.logo {
  display: block;
  height: 100%;
}

#game-window {
  display: block;
  min-height: 100px;
}

.game-container {
  margin-top: -8rem;
  width: 100%;
  height: 100%;
}

.game-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  z-index: 100;
  height: 8rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.game-score {
  font-style: oblique;
  color: #F54838;
  white-space: nowrap;
  padding-top: 0.25rem;
}
.game-score > .game-score-value {
  display: inline-block;
  padding-left: 0.25em;
  width: 5rem;
}

.game-score-value {
  font-style: normal;
  color: #EDF2F7;
}

.game-health {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 10rem;
  max-width: 30rem;
  height: 3rem;
  border: 0.45rem solid #EDF2F7;
  border-radius: 3rem;
  margin: 0 2rem 0;
}

.game-health-value {
  width: 100%;
  height: 100%;
  background: #F54838;
  border-radius: 3rem;
  transition: width 0.5s ease;
}

.game-overlay {
  display: flex;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.game-over {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.game-over-message {
  font-size: 1.5em;
  line-height: 100%;
}

.game-score-container {
  display: flex;
  flex-direction: column;
}

.game-over-score {
  font-size: 0.75em;
  color: #F54838;
}

.game-hi-score {
  font-size: 0.5em;
  color: #F54838;
}

.game-hi-score-value {
  color: #EDF2F7;
}

.game-play-button {
  padding: 0 0.5em;
  background: #F54838;
  color: #EDF2F7;
  border: 0.4rem solid #EDF2F7;
  border-radius: 1rem;
  white-space: nowrap;
  margin-top: 0.35em;
  transition: background 0.5s ease;
}

.game-play-button:hover {
  background: #376480;
}

.game-start {
  padding: 0 1em;
}

#branding-window {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
}

@media screen and (orientation: portrait) {
  .window:not(.expand) > #branding-window {
    flex-direction: row;
  }
  .window:not(.expand) > #branding-window > .branding-top, .window:not(.expand) > #branding-window > .branding-hero, .window:not(.expand) > #branding-window > .branding-bottom {
    flex: 1 1;
    margin: 0;
  }
  .window:not(.expand) > #branding-window .spacer-logo {
    transform: none;
  }
}

@media screen and (orientation: landscape) {
  .window.expand > #branding-window {
    flex-direction: row;
  }
  .window.expand > #branding-window > .branding-top, .window.expand > #branding-window > .branding-hero, .window.expand > #branding-window > .branding-bottom {
    flex: 1 1;
    margin: 0;
  }
  .window.expand > #branding-window .spacer-logo {
    transform: none;
  }
}

.branding-top,
.branding-hero,
.branding-bottom {
  display: flex;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.branding-top > img,
.branding-hero > img,
.branding-bottom > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

.branding-top,
.branding-bottom {
  flex: 1 2;
  margin: 2rem 0;
}
.branding-top > img,
.branding-bottom > img {
  max-width: 50%;
}

.branding-hero {
  flex: 2 1;
}

.spacer-logo {
  transform: scale(125%);
}

#music-window {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  color: #EDF2F7;
  font-size: 2rem;
}

.music-album-art {
  height: 50%;
}
.music-album-art > div {
  display: flex;
  padding: 3rem;
}
.music-album-art > div > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

@media screen and (orientation: portrait) and (max-height: 1100px) {
  .window:not(.expand) > #music-window > .music-album-art {
    position: absolute;
    height: 100%;
  }
  .window:not(.expand) > #music-window > .music-album-art > div {
    padding: 0;
  }
  .window:not(.expand) > #music-window > .music-album-art > div > img {
    position: absolute;
    width: auto;
    height: auto;
    max-height: none;
    min-width: 100%;
    min-height: 100%;
    top: -9999px;
    bottom: -9999px;
    filter: blur(12px) brightness(0.5);
    z-index: -100;
  }
  .window:not(.expand) > #music-window > .music-interface {
    margin-bottom: 1rem;
  }
}

.music-seeker {
  width: 80%;
  margin: -1rem 10% auto;
}
@media screen and (orientation: portrait) and (max-height: 1100px) {
  .music-seeker {
    margin: 3rem 10% auto;
  }
}

.music-track-info {
  font-weight: 300;
  text-align: center;
  margin-bottom: auto;
  flex-shrink: 0;
}

.music-interface {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  margin-bottom: 3rem;
}

.music-album-art,
.music-track-info {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.music-album-art > div,
.music-track-info > div {
  flex-shrink: 0;
  width: 100%;
  transition: margin-left 0.5s ease,margin-right 0.5s ease;
}

.music-seeker-times {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}

.music-seeker-bar {
  position: relative;
  height: 4rem;
  margin-top: -1rem;
  cursor: pointer;
  touch-action: none;
}

.music-seeker-bar-bg {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: 1.75rem;
  background: #376480;
  border-radius: 0.5rem;
  pointer-events: none;
}

.music-seeker-progress {
  position: absolute;
  width: 100%;
  height: 1rem;
  top: 1.5rem;
  background: #F54838;
  border-radius: 1rem;
  pointer-events: none;
}

.music-seeker-handle {
  position: relative;
  background: #EDF2F7;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.25rem;
  margin-right: -0.75rem;
  border-radius: 1.5rem;
  float: right;
  pointer-events: none;
}

.music-artist-name {
  color: #B0C3CF;
  font-size: 1.25em;
}

.music-song-name {
  font-size: 1.75em;
}

header {
  height: 12rem;
  padding: 1rem;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  transition: height 0.5s ease,padding 0.5s ease,opacity 0.5s ease;
}
header::after {
  content: "";
  pointer-events: none;
  position: absolute;
  height: 3rem;
  margin-top: 1rem;
  background: linear-gradient(#EDF2F7, rgba(255, 255, 255, 0.001));
}
@media screen and (orientation: portrait) {
  header {
    height: 9rem;
    padding: 0.5rem;
  }
  header::after {
    margin-top: 0.45rem;
  }
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  header {
    height: 7.5rem;
  }
}

.header-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.header-content > .header-left, .header-content > .logo, .header-content > .header-right {
  width: 100%;
}
.header-content > .header-right {
  text-align: right;
}
.header-content button:not(.icon-button) {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 0;
  background: #F54838;
  color: #EDF2F7;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.header-content button:not(.icon-button):hover {
  background: #376480;
}

main {
  height: 100%;
  padding: 0 4rem;
  overflow-y: auto;
  transition: padding 0.5s ease;
}
@media screen and (orientation: portrait) {
  main {
    padding: 0 2rem;
  }
}
main > section {
  flex-shrink: 0;
  font-size: 1.5rem;
  padding: 3rem 0;
}
@media screen and (orientation: landscape) {
  main > section {
    min-height: 100%;
  }
}
main > section p {
  line-height: 1.75em;
}

footer {
  border-top: 0.5rem solid #202C38;
  background: #F54838;
  width: 100%;
  height: 6rem;
  flex-shrink: 0;
  z-index: 100;
  bottom: 0;
}
footer.expand {
  position: fixed;
  left: 0;
  width: 100%;
}
footer.expand::before {
  opacity: 0;
}
@media screen and (orientation: landscape) {
  footer.expand {
    border-top: 0.5rem solid #376480;
  }
}
footer::before {
  content: "";
  pointer-events: none;
  position: absolute;
  height: 3rem;
  bottom: 0;
  margin-bottom: 6rem;
  background: linear-gradient(rgba(255, 255, 255, 0.001), #EDF2F7);
}
@media screen and (orientation: portrait) and (max-height: 905px), screen and (orientation: portrait) and (max-width: 905px) {
  footer {
    height: 5rem;
  }
  footer::before {
    margin-bottom: 5rem;
  }
}

header::after,
footer::before {
  left: 4rem;
  right: 4rem;
}
@media screen and (orientation: portrait) {
  header::after,
footer::before {
    left: 2rem;
    right: 2rem;
  }
}

.section-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-nav > a {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  transition: padding 0.5s ease,background-color 0.5s ease;
}
.section-nav > a > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  margin-top: -1px;
  background: #202C38;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-size: 1.15rem;
  line-height: 2rem;
  color: #EDF2F7;
  transition: height 0.25s ease, margin-top 0.25s ease;
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
}
.section-nav > a:hover {
  background-color: #376480;
}
.section-nav > a:hover > span {
  margin-top: -2rem;
  height: 2rem;
}
.section-nav > a > img {
  height: 80%;
  margin: auto;
  transition: width 0.5s ease,height 0.5s ease;
}
@media screen and (orientation: landscape) {
  .section-nav.expand > a > span {
    background: #376480;
  }
}

#contact {
  min-height: 100%;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
}
.contact-form label {
  margin-bottom: 1rem;
  text-indent: 1rem;
  border-radius: 1rem;
  background: #376480;
  color: #EDF2F7;
  text-align: left;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  border: 0;
}
.contact-form input,
.contact-form textarea {
  background: #EDF2F7;
  color: #202C38;
  border-radius: 0 0 1rem 1rem;
  padding: 0.25rem 1rem;
}
.contact-form textarea {
  min-height: 10rem;
  line-height: normal;
}
.contact-form h1 {
  margin: 2rem 0;
  height: 1em;
  line-height: 1;
  color: inherit;
  white-space: nowrap;
}
.contact-form h1::after {
  display: none;
}
.contact-form > form, .contact-form > aside {
  padding: 0 2rem 1rem;
}
.contact-form > form {
  flex: 1 1 61.8%;
  background: #B0C3CF;
  color: #376480;
  text-align: center;
}
.contact-form > form button {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 3rem;
  font-size: 1.25em;
  background: #F54838;
  color: #EDF2F7;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.contact-form > form button:hover {
  background: #376480;
}
.contact-form > aside {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1 1 38.2%;
  background: #F54838;
  color: #EDF2F7;
}

.contact-email-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.contact-email-container a,
.contact-email-container a:visited,
.contact-email-container a:active,
.contact-email-container .text-button {
  display: inline-block;
  position: relative;
  color: #EDF2F7;
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.contact-email-container a::after,
.contact-email-container a:visited::after,
.contact-email-container a:active::after,
.contact-email-container .text-button::after {
  content: " ";
  display: block;
  position: absolute;
  margin: auto;
  width: 0;
  left: 50%;
  height: 0.1em;
  background: #376480;
  border-radius: 0.1em;
  transition: width 0.25s ease, left 0.25s ease;
}
.contact-email-container a:hover::after,
.contact-email-container .text-button:hover::after,
.contact-email-container a:focus::after,
.contact-email-container .text-button:focus::after {
  left: 0;
  width: 100%;
}

.contact-email-icon {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.contact-email {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
}

.contact-zocials {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.zocial-button {
  font-size: 4rem;
  width: 5rem;
  height: 5rem;
  line-height: 1;
  border-radius: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.zocial-button:hover {
  background: #376480;
}
.zocial-button > img {
  display: block;
  margin: auto;
}

.window-overlay {
  display: block;
  position: fixed;
  right: 61.8%;
  margin-right: 3.75rem;
  z-index: 100;
  transition: right 0.5s ease,margin-right 0.5s ease;
}

.icon-button {
  background: transparent;
  border: none;
  height: 1em;
  cursor: pointer;
}
.icon-button:hover .icon-default {
  opacity: 0;
}
.icon-button:hover .icon-hover {
  opacity: 1;
}

.icon-default,
.icon-hover {
  position: relative;
  display: block;
  width: 1em;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.icon-hover {
  position: relative;
  top: -1em;
  opacity: 0;
}

.toggle-expand,
.toggle-expand-content {
  font-size: 2.5rem;
}
.toggle-expand > .restore,
.toggle-expand-content > .restore {
  display: none;
}
.toggle-expand.expand > .expand,
.toggle-expand-content.expand > .expand {
  display: none;
}
.toggle-expand.expand > .restore,
.toggle-expand-content.expand > .restore {
  display: inline;
}

.toggle-expand {
  margin: 1rem;
}

@media screen and (orientation: landscape) {
  .toggle-expand-content {
    display: none;
  }
}

/*# sourceMappingURL=theme.css.map */
