html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: #000;
    overflow: hidden;
}

#container {
    height: 80vh;
    width: 100%;
    margin: auto;
    overflow: visible;
}

#wrapper {
    height: 100%;
    aspect-ratio: 2 / 1;
    max-width: 100%;
    margin: auto;
}

#book {
    transition: margin 0.5s;
}

#book.front {
    margin-left: -25%;
}

#book.fold {
    margin: 0;
}

#book.back {
    margin-left: 25%;
}

.page {
    background: #005;
    width: 50%;
    height: 100%;
    margin: auto;
}

.page:nth-child(1) {
    background: center/100% url("pages/P (1).jpg") #def;
}

.page:nth-child(2) {
    background: center/100% url("pages/P (2).jpg") #def;
}

.page:nth-child(3) {
    background: center/100% url("pages/P (3).jpg") #def;
}

.page:nth-child(4) {
    background: center/100% url("pages/P (4).jpg") #def;
}

.page:nth-child(5) {
    background: center/100% url("pages/P (5).jpg") #def;
}

.page:nth-child(6) {
    background: center/100% url("pages/P (6).jpg") #def;
}

.page:nth-child(7) {
    background: center/100% url("pages/P (7).jpg") #def;
}

.page:nth-child(8) {
    background: center/100% url("pages/P (8).jpg") #def;
}

.page:nth-child(9) {
    background: center/100% url("pages/P (9).jpg") #def;
}

.page:nth-child(10) {
    background: center/100% url("pages/P (10).jpg") #def;
}

.page:nth-child(11) {
    background: center/100% url("pages/P (11).jpg") #def;
}

.page:nth-child(12) {
    background: center/100% url("pages/P (12).jpg") #def;
}

.page:nth-child(13) {
    background: center/100% url("pages/P (13).jpg") #def;
}

.page:nth-child(14) {
    background: center/100% url("pages/P (14).jpg") #def;
}

.page:nth-child(15) {
    background: center/100% url("pages/P (15).jpg") #def;
}

.page:nth-child(16) {
    background: center/100% url("pages/P (16).jpg") #def;
}

.page:nth-child(17) {
    background: center/100% url("pages/P (17).jpg") #def;
}

.page:nth-child(18) {
    background: center/100% url("pages/P (18).jpg") #def;
}

.page:nth-child(19) {
    background: center/100% url("pages/P (19).jpg") #def;
}

.page:nth-child(20) {
    background: center/100% url("pages/P (20).jpg") #def;
}

.page:nth-child(21) {
    background: center/100% url("pages/P (21).jpg") #def;
}

.page:nth-child(22) {
    background: center/100% url("pages/P (22).jpg") #def;
}

.page:nth-child(23) {
    background: center/100% url("pages/P (23).jpg") #def;
}

.page:nth-child(24) {
    background: center/100% url("pages/P (24).jpg") #def;
}
